name: "Plugin release"

on:
  push:
#    tags:
#       - '*'

jobs:
  create-release:
    name: "Create release"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
      - name: "Test"
        uses: cedric-anne/glpi-project-tools/github-actions/build-package@feature/release-action
        with:
          plugin-version: "1.0"
